@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  color: white;
}

body{
  display: flex;
  justify-content: center;
  position: relative;
}

.container{
  background: #04021f;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  padding: 30px 20px;
  overflow-y: auto;
  position: relative;
}

.container::-webkit-scrollbar{
  display: none;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid white; */
  margin-bottom: 10px;
}

.top-bar h1{
  display: inline-block;
  font-size: 20px;
  margin-right: 80px;
  user-select: none;
}

.top-bar i{
  font-size: 20px;
  cursor: pointer;
  
  box-sizing: content-box;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.15s ease;
}

.top-bar i:hover{
  background-color: rgba(115, 115, 115, 0.345);
}

.top-bar i:active{
  opacity: 75%;
}

 /* card box */

.cards-box{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 7px;
  /* border: 1px solid white; */
  margin-bottom: 30px;
}

.cards-box .card{
  display: flex;
  align-items: center;
  background: #201E43;
  border-radius: 5px;
  padding-right: 10px;
  cursor: pointer;
}

.card small{
  font-size: 12px;
}

.image{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.image img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 5px 0 0 5px;
}

/* artist-profile */

.artists-profile{
  /* border: 1px solid white; */
  margin-bottom: 20px;
}

.artists-profile h1{
  font-size: 20px;
  margin-bottom: 10px;
}

.artists{
  width: 100%;
  display: flex;
  gap: 15px;
  /* overflow: hidden; */
  overflow-x: scroll;
}

.artists::-webkit-scrollbar{
  display: none;
}

.artist-image-profile{
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
  text-align: center;
  cursor: pointer;
}

.artist-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.artist-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* jump-back-card */

.jump-back-music{
  /* border: 1px solid white; */
  margin-bottom: 30px;
}

.jump-back-music h1{
  font-size: 20px;
  margin-bottom: 10px;
}

.song-card-box::-webkit-scrollbar{
  display: none;
}

.song-card-box{
  display: flex;
  gap: 15px;
  overflow-x: auto;

}

.jump-back-card{
  /* border: 1px solid white; */
  width: 125px;
}

.jump-back-card p{
  font-size: 10px;
  color: gainsboro;
  width: 100%;
  height: 35px;
  overflow: hidden;
}

.song-img-card{
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
}

.song-img-card img{
  width: 100%;

}

/* episode-profile */

.episode-profile{
  /* border: 1px solid white; */
  margin-bottom: 100px;
}

.episode-profile h1{
  font-size: 20px;
  margin-bottom: 10px;
}

.episodes{
  width: 100%;
  display: flex;
  gap: 15px;
  /* overflow: hidden; */
  overflow-x: scroll;
}

.episodes::-webkit-scrollbar{
  display: none;
}

.episode-image-profile{
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
  text-align: center;
  cursor: pointer;
}

.episode-img{
  width: 120px;
  height: 120px;
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.episode-img img{
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}

.episode-image-profile small{
  font-size: 12px;
  color: gainsboro;
}

/* navbar */

.navbar{
  /* display: none; */
}

.navbar nav{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 360px;
  background: #04021f75;
  padding: 12px 30px;
  border-radius: 5px 5px 0 0;
  backdrop-filter: blur(10px);
  
}

.navbar nav div{
  cursor: pointer;
}

.navbar nav div i{
  display: block;
  font-size: 18px;
  text-align: center;
  color: gainsboro;
}

.navbar nav div small{
  font-size: 10px;
}

/* .music-bar */

.music-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a5063;
  padding: 8px;
  border-radius: 3px;
  position: fixed;
  bottom: 67px;
  width: 360px;
}

.music-bar input{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-appearance: none;
  height: 2px;
  accent-color: red;
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}



.music-info{
  display: flex;
  align-items: center;
}

.music-title{
  display: block;
  font-size: 12px;
}

.music-author{
  display: block;
  font-size: 10px;
}

.music-info img{
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
  border-radius: 2px;
}

.music-icons i{
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.music-icons i:first-child{
  margin-right: 20px;
}

@media screen and (max-width: 600px){
  .top-bar h1{
    margin-right: 60px;
  }

  .navbar nav{
    width: 337px;
  }

  .music-bar{
    width: 337px;
  }

  .card small{
    font-size: 10px;
  }
}

@media screen and (max-width: 360px){
  .top-bar h1{
    margin-right: 55px;
  }

  .navbar nav{
    width: 310px;
  }

  .music-bar{
    width: 310px;
  }

  .card small{
    font-size: 10px;
  }
}